body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6c7279;

    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}



/* Container
================================*/

.container {
    width: 100%;
    max-width: 1233px;
    margin: 0 auto;
}



/* Header 
================================*/

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0;

}

.header__logo {
    display: flex;
    align-items: center;
    color: #fff;
}



/* Nav 
================================*/

.nav {
    font-size: 14px;
}

.nav__link {
    display: inline-block;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
    display: inline-block;
    
    color: #fff;

    position: relative;
    transition: color .2s linear;
}

.nav__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    
    background-color: #c7b299;
    opacity: 0;

    top: 100%;
    z-index: 1;
    position: absolute;
    margin-top: 5px;

    transition: opacity .2s linear;
}

.nav__link:hover::after {
    opacity: 1;
    transition: opacity .2s linear;
}

.nav__link:hover:last-child::after {
    opacity: 0;
}

.nav__link:hover {
    color: #c7b299
}

.nav__link--contact {
    margin-right: 60px;
}

.nav__link:first-child {
    margin-left: 0;
}



/* Intro 
================================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100vh;

    background:url(Img/Intro/bg.jpg) center no-repeat;

    margin-bottom: 80px;
}

.intro__inner {
    text-align: center;
    color: #fff;
    padding: 0 240px;  
}

.intro__subtitle {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    margin-bottom: 20px;
}

.intro__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px
}



/* Btn 
================================*/

.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;

    padding: 16px 38px;

    color: #fff;
    background-color: #998675;

    border: 0;
    border-radius: 3px;

    transition: .2s;
}


.btn:hover {
    cursor: pointer;
    background-color: #837264;
}

.intro__btn--prev {
    left: 50px;
    transform: rotate(-45deg);
}

.intro__btn--next {
    right: 50px;
    transform: rotate(135deg);
}

.intro__btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY();
}

.intro__btn::after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    border-top: 2px solid #d3c1ad;
    border-left: 2px solid #d3c1ad;
}

.btn--purchases {
    margin-top: 0;
}



/* Services 
================================*/

.services {
    margin-bottom: 45px;
}

.services__inner {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.services__item {
    width: 25%;
}

.services__icon {
    margin-bottom: 25px;
    height: 45px;
    width: 50px;
    overflow: hidden;
}

.services__item:hover
.services__icon {
    opacity: .5;
    transition: opacity .2s linear;
}

.services__title {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 22px;

    color: #555555;

    font-family: 'Raleway', sans-serif;
}

.services__item:hover
.services__title {
    color: #c7b299;
    transition: color .2s linear;
}

.services__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;

    color: #8c8c8c;
}

.services__text::after {
    display: block;
    content: "";
    width: 70px;
    height: 3px;

    opacity: .2;

    background-color: #c7b299;

    margin: 35px auto;
}

.services__item:hover
.services__text::after {
    opacity: 1;
    transition: opacity .2s linear;
}



/* Ideas 
================================*/

.ideas {
    background-color: #fbfaf8;
}

.ideas__inner {
    text-align: center;
}

.ideas__item {
    padding-top: 85px;
}

.ideas__title {
    font-size: 30px;
    color: #555555;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
}

.ideas__text {
    font-size: 16px;
    color: gray;
    padding: 0px 110px;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.7;
}

.ideas__img {
    padding-bottom: -10px;
}



/* Purchase 
================================*/

.purchases {
    margin-top: -3px;
    background: linear-gradient(to right, #221c1a, #4d3327);
    margin-bottom: 80px;
    
}

.purchases__item {
    width: 600px;
    text-align: justify;
}

.purchases__inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.purchases__title {
    font-size: 28px;
    color: #fff;
}

.purchases__span {
    color: #bfab93;
}

.purchases__text {
    color: #615855;
    font-size: 18px;
}



/* Projects 
================================*/

.projects__item {
    text-align: center;
    padding: 0 200px;
    margin-bottom: 40px;
}

.projects__title {
    font-size: 30px;
    color: #555555;
    margin-bottom: 25px;

    font-family: 'Raleway', sans-serif;
}

.projects__text {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7;
    color:#8c8c8c;
}

.projects__button {
    text-align: center;
}

.projects__btn {
    border: 1px solid #ebebeb;
    background-color: #fff;
    border-radius: 3px;
    padding: 7px 25px;

    margin-left: 10px;

    font-size: 14px;
    color: #8c8c8c;
    cursor: pointer;
    transition: .2s;

    font-family: 'Raleway', sans-serif;

    margin-bottom: 40px;
}

.projects__btn:hover {
    background-color: #998675;
    color: #fff;
    transition: color .2s linear;
    transition: background-color .2s linear;
}



/* Works 
================================*/

.projects__works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    position: relative;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: #fbfaf8;
    padding-bottom: 25px;
}

.works__img {
    margin-bottom: 25px;
}

.works__title {
    font-size: 20px;
    color: #c7b299;
    padding-right: 0;
    padding-left: 30px;
}

.works__subtitle {
    font-size: 14px;
    color: #d1d1d1;
    padding-left: 30px;
}

.works__item:hover {
    background-color: #362f2d;
    transition: .3s;
}

.works__item:hover
.works__photo {
    opacity: .3;
}

.works__item:hover
.works__title {
    color: #fff;
}

.works__item:hover
.works__subtitle {
    color: #c7b299;
}

.works__icon {
    display: none;
    text-decoration: none;
    color: #fff;

    position: absolute;

    top: 35%;
    left: 45%;
    z-index: 10;
    opacity: 1;
}

.works__item:hover
.works__icon {
    display: block;
}

#zxc:hover {
    color: #c7b299;
    transition: .3s;
    cursor: pointer;
}

#cxz:hover {
    color: #c7b299;
    transition: .3s;
    cursor: pointer;
}



/* Load__More 
================================*/

.load__more {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 75px;
}

.loadmore__btn {
    border: 0;
    border-bottom: 2px solid #736357;
    border-radius: 2px;

    background-color: #998675;

    text-transform: uppercase;
    font-style: 14px;

    color: #fff;

    padding: 10px 25px;
    font-weight: bold;

    font-family: 'Raleway', sans-serif;
    transition: .2s;
}

.loadmore__btn:hover {
    cursor: pointer;
    background-color: #837264;
}



/* Load__More 
================================*/

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(Img/Video/1.jpg) center no-repeat;
    width: 100%;
    height: 700px;

    text-align: center;
    margin-bottom: 80px;
}

.video__img {
    display: block  ;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
}

#circle {
    display: block;
    margin: auto;
}

#icon-play {
    position: absolute;
    display: block;
    top: 15px;
    left: 582px;
    z-index: 1;
}

.video__title {
    color: #fff;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
}

.video__text {
    color: #fff;
    font-size: 16px;
    padding: 0 320px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.video__time {
    color: #bcaa95;
    font-size: 14px;
    font-weight: bold;
}



/* Load__More 
================================*/

.mobile__inner {
    display: flex;
    flex-wrap: wrap;
}

.mobile__img {
    width: 40%;
}

.mobile__content {
    width: 60%;
    margin-top: 115px;
}

.mobile__title {
    color: black;
    font-size: 30px;
    font-weight: bold;

    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

.mobile__text {
    color: #939393;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 45px;
}

.arrow {
    color: #fff;
    background-color: #c7b299;
    margin-left: 40px;
    margin-right: 25px;
    border-radius: 50%;
    padding: 2px 6px;
}

.mobile__paragraph {
    color: #939393;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}



/* Online 
================================*/

.online {
    margin-bottom: 80px;
    background: linear-gradient(to right, #221c1a, #4d3327);
}

.online__inner {
    display: flex;
    flex-wrap: wrap;
}

.online__item {
    width: 20%;
    text-align: center;
    margin: 60px 0;
}

.online__numbers {
    color: #fff;
    font-size: 48px;
    margin-bottom: 10px;
}

.online__subtitle {
    color: #c7b299;
    font-size: 14px;
    text-transform: uppercase;
}

.online__subtitle::after {
    display: block;
    content: "";
    width: 35px;
    height: 2px;

    background-color: #fff;
    margin: 30px auto;
}



/* Recent 
================================*/

.recent {
    margin-bottom: 80px;
}

.recent__header {
    text-align: center;
}

.recent__title {
    color: black;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.recent__subtitle {
    color: #8c8c8c;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 200px;
    font-weight: bold;
    margin-bottom: 40px;
}

.recent__item {
    display: flex;
    margin-bottom: 40px;    
}

.recent__blog {
    width: 33.33333%;
    border: 1px solid #f8f8f8;
    margin-left: 30px;
    transition: .3s;
    position: relative;
}



/* Blog 
================================*/

.blog__content {
    padding-left: 25px;
    padding-right: 40px;
}

.blog__title {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.blog__text {
    font-size: 14px;
    color: #959595;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

.blog__finish {
    font-size: 14px;
    color: #c7b299;
    font-weight: bold;
}

.blog__img {
    min-width: 100%;
    margin-bottom: 25px;
}

.blog__date {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    border-radius: 3px;
    transition: 3s;
}

.blog__date--day {
    background-color: #363636;
    color: #fff;
    font-size: 30px;
    padding: 8px 12px;
    transition: .3s;
}

.blog__date--mounth {
    background-color: #252525;
    color: #fff;
    font-size: 12px;
    padding: 7px 14px;
    text-align: center;
    transition: .3s;
}

.blog__arrows {
    display: flex;
    justify-content: center;
    color: #d1d1d1;
}

.arrow__left {
    border: 3px solid #d1d1d1;
    border-radius: 50%;
    padding: 3px 7px;
    transition: .3s;
    margin-right: 8px;
}

.arrow__right {
    border: 3px solid #d1d1d1;
    border-radius: 50%;
    padding: 3px 7px;
    transition: .3s;
}

.arrow__left:hover {
    color: #cab69f;
    border-color: #cab69f;
}

.arrow__right:hover {
    color: #cab69f;
    border-color: #cab69f;
}

.recent__blog:hover
.blog__date--day {
    background-color: #c7b299;
}

.recent__blog:hover
.blog__date--mounth {
    background-color: #a48d72;
}

.recent__blog:hover {
    background-color: #362f2d;
}

.recent__blog:hover
.blog__img {
    opacity: .2;
}

.recent__blog:hover
.blog__title {
    color: #c7b299;
}

.recent__blog:hover
.blog__text {
    color: #fff;
}

.recent__blog:hover
.blog__finish {
    color: #c7b299;
}



/* Logo 
================================*/

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 500px;
    background: url(Img/Logo/logo__fon.jpg);
}

.logo__inner {
    text-align: center;
    padding: 315 0;
}

.logo__photo {
    margin-right: 80px;
}

.logo__photo:last-child {
    margin-right: 0;
}



/* Footer 
================================*/

.footer{

    background-color: #191919;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
}
.footer__item{
    padding-top: 85px;

    width: 23%;
    margin-right: 28px;
}
.footer__item:last-child{
    margin-right: 0;
}
.footer__title{
    display: flex;
    font-size: 34px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.footer__logo{
    color: #fff;
    margin-top: 6px;
}
.footer__text{
    margin-top: 25px;
    font-size: 14px ;
    color: #555555;
}
.footer__read{
    line-height: 1.5;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 29px;
}
.footer__title2{
    color: #fff;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}
.footer__block{
    cursor: pointer;
}
.footer__data{
    margin-top: 20px;
    font-size: 12px;
    color: #363636;
}
.footer__text2{
    font-size: 14px;
    color: #555555;
    margin-top: 7px;
    padding-bottom: 15px;
    border-bottom: 1px solid #252525 ;
}
.footer__block:hover
.footer__data{
    color: white;
    transition: color .2s linear;
}
.footer__block:hover
.footer__text2{
    color: #c7b299;
    transition: color .2s linear;
}
.footer__text3{
    font-size: 14px;
    color: #555555;
    margin-top: 7px;

}
.link{
    color: #00bff3;
    cursor: pointer;
}
.footer__data2{
    margin-top: 5px;
    font-size: 12px;
    color: #363636;
    padding-bottom: 17px;
    border-bottom: 1px solid #252525 ;
}
.white{
    color: #959595;
}
.footer__photo{
    padding-bottom: 5px;
    padding-right: 5px;
}
.footer2{
    background-color: #111111;
    height: 110px;
    width: 100%;
}
.footer2__inner{
    padding-top: 46px;
    display: flex;
    justify-content: space-between;

}
.footer2__text{
    font-size: 13px;
    color: #555555;
}
.hover:hover{
    color:  #c7b299;
    transition: color .2s linear;
    font-weight: 500;
    font-size: 13px;
}